:root{
    --dark-blue: hsl(212, 21%, 14%);
    --gray-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);

}

body{
    background-color: var(--cream);
    font-size: 14px;
    min-height: 100vh;

    /* margin: 0; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: var(--white);
  
    width: 600px;
    height: 475px;
    
    border-radius: 2%;
    display: flex;
    
    overflow: hidden;
    
}

.image{
    background: url(images/image-product-desktop.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    width: 50%;
}

.content{
  
    max-width: 50%;
    margin: 10px 0px;
    
}

.text{
 
    margin: 0px 30px 0px;
    padding: 0px 0px;
}

.prices{
    display: flex;
    align-items: center;
    margin: 0px 30px 10px;
    
}

.sale-price{
    color: var(--dark-cyan);
}

.orig-price{
    text-decoration-line: line-through;
    padding: 20px;
    color: var(--gray-blue);
}


.button{
    background-color: var(--dark-cyan);

    color: white;

    border: none;
    border-radius:10px;
    
    display:flex;
    flex-direction: row;
    justify-content: center;

    padding: 8px;
    margin: 0px 30px;
    
}

.button:hover{
    cursor: pointer;
    background-color: hsl(156, 48%, 17%);
}

.icon{
    margin: 8px;
}
.b-text{
    margin: 8px ;
    font-size:12pt;
    font-weight: 600;
}

h1{
    font-family: 'Fraunces', serif;
}

.label{
    color: var(--dark-blue);
    font-size: 24pt;
    font-weight: 700;
}

.text p{
    font-family: 'Montserrat', sans-serif;
    color: var(--gray-blue);
    line-height: 1.7;
    font-weight: 500;
}


@media (max-width:375px){
    body{
        background-color: var(--cream);
        font-size: 14px;

        display: flex;
      
    }
    
    .card{
        width: auto;
        height: 670px;
    
        border-radius: 2%;

        display: flex;
        flex-direction: column;

        margin: 8px;

        overflow: hidden;
    }

    .image{
        background: url(images/image-product-desktop.jpg);
        background-size:cover;
        background-origin: content-box;
        background-repeat: no-repeat;
        background-position:center;
        
        
        width: auto;
        /* position: top; */
        height: 40%;
    }
    
    .content{
      
        background-color: white;
        max-height: 60%;
        max-width: 100%;
        /* z-index: -2; */
        
        
    }

    .text{
        /* width:auto; */
        margin: 10px 25px 0px;
        padding: 0px 0px;
    }

    .label{
        margin: 10px 0px 0px;
    }

    .prices{
        margin:0px 25px;
    }

    .button{
        padding: 8px;
        margin: 0px 25px;
    }

    .text p{
        margin:15px 0px 0px;
    }
}
